*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: rubik;
  font-size:18px;
  color: white;
  background-color:  hsl(226, 43%, 10%);
}

.dashboard{
  display: grid;
  grid-template-columns:repeat(4, 1fr); 
  gap: 0px 30px; 
  margin: 50px 20px;
  align-content: center;
 
}

 .box:nth-of-type(1){
  grid-column: 1 / 2;
  grid-row: span 2;

} 

.profile{
  margin-top: -10px;  
} 

.profile-head{
  display: flex;
  flex-direction: column;
  background-color: hsl(235, 45%, 61%);
  border-radius:13px ;
  height: 400px;
  padding-left: 35px;
  position: relative;
  bottom: -9px;
}

.profile-img{
  margin: 40px 0px;
  width: 40%;
  border: 3px solid white;
  border-radius: 50%;
}

.span{
  color: hsl(236, 100%, 87%);
  font-weight: 300;
}

.profile-name{
  font-weight: 300;
  font-size: 35px;
  width: 150px;
}

.profile-btm{
  display: flex;
  flex-direction: column;
  background-color:  hsl(235, 46%, 20%);
  border-radius:0px 0px 13px 13px ;
  height: 180px;
  padding: 20px 35px;
  justify-content:space-around ;
  color:  hsl(236, 100%, 87%);
}

.Weekly{
  color:  white;
}


.info{
  height: 225px;
  background-color:  hsl(235, 46%, 20%);
  border-radius:13px ;
  padding: 35px 30px;
  position: relative;
  top: -30px;
  }

.info > img{
  width: 20px;
 }

.flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.stats{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  height: 130px;
}

.time{
  font-size: 45px ;
  font-weight: 300;
}

.previous{
 color: hsl(236, 100%, 87%);
}


.work{
  background-color:hsl(15, 100%, 70%); 
  display: flex;
  justify-content: flex-end;
  border-radius:13px 13px 0px 0px;
  padding-right:20px ;
}

.play{
  background-color: hsl(195, 74%, 62%); 
  display: flex;
  justify-content: flex-end;
  border-radius:13px 13px 0px 0px;
  padding-right:20px ;
}

.study{
  background-color: hsl(348, 100%, 68%); 
  display: flex;
  justify-content: flex-end;
  border-radius:13px 13px 0px 0px;
  padding-right:20px ;
}

.exercise{
  background-color:hsl(145, 58%, 55%); 
  display: flex;
  justify-content: flex-end;
  border-radius:13px 13px 0px 0px;
  padding-right:20px ;
}

.social{
  background-color: hsl(264, 64%, 52%); 
  display: flex;
  justify-content: flex-end;
  border-radius:13px 13px 0px 0px;
  padding-right:20px ;
}

.self-care{
  background-color:hsl(43, 84%, 65%); 
  display: flex;
  justify-content: flex-end;
  border-radius:13px 13px 0px 0px;
  padding-right:20px ;
}


@media(max-width:500px){
  body{
    margin: 0px;
  }

  .dashboard{
    display: flex;
    flex-direction: column;
  }

  .profile{
    margin: 0px 20px;
  }

  .profile-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 150px;
  }

  .profile-img{
    width: 20%;
    margin-right: 25px;
  }

  .profile-name{
    width: 250px;
  }

  .profile-btm{
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    margin-bottom: 30px;
  }

  .box{
    margin: 0px 20px;
  }

  .info{
    height: 120px;
  }
  .stats{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
  }

 .time{
  font-size: 29px ;
  font-weight: 300;
}
  
.flex{
  padding-bottom: 10px;
}

}